
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc6CsTYl4BO.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
    font-family: 'Roboto', Arial, sans-serif;
    color: #CBCBCB;
    margin:0;
    padding:0;
    /*position: absolute; might fix a bug on mobile screens?*/
}

/* Standard color is #CBCBCB */


h6{
    color:#777;
    font-size: 11pt;
}

hr{
    color: #DDD;
}

/* #DEDEDE is the color of reasonable importance. #EEE is the color of most importance besides the cyan-esq link color. #CBCBCB is standard. Things like #AAA to #888 are stylistic. Nothing should really go lower than #888. Set elements' defualt color to the color whose heading its importance it matches most closely.*/

ul, ol {
    color: #DEDEDE;
    font-weight: 500;
    margin: 0.5vw;
    padding: 0 2vw;
}

details{ 
    margin:0.5vw;
    padding: 0.2vw;
    /* border-radius:3px; */
    /* border: 1px solid #DDD; */
    color: #999;
    font-weight: 400;
    /* text-decoration: underline; */
    font-style: italic;
    cursor: pointer;
    width:fit-content;
}

summary{ /*Maybe make this stand out more*/
    padding: 10px;
    /* font-weight: 700; */
    color: #EEE;
    font-weight: 500;
    text-decoration: underline;
    

}

section{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 1vw;
    /* margin: 20px; */
    margin: 20px 3%; /*arguably looks better, but doing this forces people into my style more. Having a flat 20px margin means that the stylesheet works better with typical, left-aligned html. */
}

/* Makes the first line after a br be a higher weight */
br+::first-letter{
    font-weight: 700;
}

/*Reduce the intensity of <p> tags after very dull headings, because the text probably isn't important if it's under an h4-h6. Might be a bad idea idk.*/

h4+p{
    color: #BBB;
}

h5+p{
    color: #AAA;
}

h6+p{
    color: #999;
}



/* Inline text tags */

a{
    color: #96e7e7;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color:#6aa1a1;
}

a:active{
    color:#446868;
}

strong{
    color: #EEE;
    font-weight:700;
}

mark {
    background-color:rgba(255,255,0,0.9);
}

time{
    text-transform: underline;
    color: #DDD; /*If you're using the time tag you clearly want it marked out boldly*/
    font-weight: 700;
}
/* End inline text tags */

figure{ /*Literally copy-pasted and modified from MDN until I complete the flexbox lesson myself. Just wanted to get this done.*/
    max-width: 400px;
    margin: auto;
}

figcaption{
    padding:5px;
    font-style: normal;
    font-weight: 500;
}

figure > img {
    max-width: 400px;
    max-height: 400px; /*Meant to be overriden on an image-by-image basis, here just so things don't blow up*/
}



h1{
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30pt;

}

img{ /* width and height are to be overridden on an image-by-image basis. These defaults just prevent a large image from blowing a page up.*/
    border:2px solid #DDD;
    border-radius: 3px;
    width: 400px;
    height: 400px; 
}

header{
    /* background-color: #EEE; */
    background-color: #1D1D1D ;
    color: #DDD;
    padding: 20px 0 10px 0;
    height: 7vh; /* Maybe find way with fit-content/max content and max()/min() to get the header to resize depending on the title*/
    min-height: 50px;
    position: sticky;
    top:0;
    min-height:60px;
    margin: 0 ; /*Why was the !important here again? !important*/
    /* display: flex; */
}

header h1{
    color: #DDD;
}

/* End default element styles */

/* Nav styles */
nav{
    border-top: 1px solid #000;
    /* background-color: #EEE; */
    background-color: #1D1D1D ;
    color:#777;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 5px;
    position: sticky;
    top: max(7vh,60px);
    margin: 0;
}

nav li{
    display: inline-block;
    color: #888;
}

nav li+li::before{
    content: "| "
}

nav a{
    text-decoration: none;
    color: #888;
}

nav a:hover{
    color: #555;
    /* color: #BBB; */
}

nav a:active{
    color: #333;
    /* color:#EEE; */
}

/* End nav style */



/* hr divs */


div.small-hr-div{
    width:40px;
    margin: 45px auto;
}

div.med-hr-div{
    width: 60px;
}
/* End hr divs */

/* Give any element (such as a div) a grid (same settings as articles), for organizational purposes.*/

.grid{
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: center;  
    justify-items: center;
    gap: 5px;
    overflow: hidden;
}


/* Main Styles */

main{
    padding: 25px;
    background-color: #101010;
    width: 78vw;
    /* min-width:200px; */
    margin:0 auto;
    border: 0px solid white;
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    gap: 0 10px;

}

main article{
    background-color: #191919;
    /* width: 85%; */
    border: 1px solid #888;
    margin: 1vw auto;
    padding: 10px;
    /* max-width: 1000px; */
    border-radius: 5px;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: center;  
    justify-items: center;
    gap: 5px;
    overflow: hidden;
    
}

main article p, main article h1, main article h2, main article h3, main article h4, main article h5, main article h6, main article div, main article section, main article details, main article figure{
    grid-column: 1 / span 3;
}

article img{
    max-width: 100%;
    /* max-height: 100%; */
    height: auto;
    grid-column: 1 / span 1;
    display: block;
}

.half-image{
    max-width: 50%;
}

.quarter-image{
    max-width: 25%;
}

/* main article h{ */

/* } */

main h2, article h3, main h3, main h4, main h5, main h6, main p, main section, main div, main details, main figure{
    text-align: center;
    margin: 7px auto;
    grid-column: 1 / span 3;
}

main div.small-hr-div, main div.med-hr-div{
    grid-column: 2  / span 1;
}

main ul, main ol {
    width: fit-content;
    margin: 0.5vw auto;
    grid-column: 1 / span 3;
}

main article p{
    font-weight: 400;
    margin: 10px 2%;
    text-align: left;
    color: #DDD;
    font-size: 12pt;
}


main section{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 1vw;
    /* margin: 0 10px; */
}

/* Grid arrangement classes */

.left-one-c {
    grid-column: 1 / span 1 !important;
}

.left-two-c{
    grid-column: 1 / span 2 !important;
}

.right-one-c {
    grid-column: 3 / span 1 !important;
}

.right-two-c{
    grid-column: 2 / span 2 !important;
}

.center-c{
    grid-column: 2 / span 1 !important;
}

.all-c{
    grid-column: 1 / span 3 !important;
}

.two-rows{
    grid-row: span 2 !important;
}

.three-rows{
    grid-row: span 3 !important;
}

.four-rows{
    grid-row: span 4 !important;
}

.five-rows{
    grid-row: span 5 !important;
}

/* Generic Flexbox */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    /* justify-items: ; */

}
.flexbox{
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #FFF;
    margin: 7px;
}

.flexbox img{
    border: 0px;
}
/*  */

/* Button styles */
.button{
    width: clamp(50px,100px,300px);
    overflow: hidden;
    font-size: 12pt;
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #131313;
    cursor: pointer;
    border-radius: 10px;
    text-align:center;
    padding: 0.5rem 0;
    font-weight: 700;
    margin-top: 20px;
    text-decoration-skip-ink: all;
    font-style: normal;
    grid-column: 2 / span 1;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: fit-content;
    margin: 10px auto 0 auto;
}

.button:hover{
    background-color: #666;
    transition: background-color 0.2s;
    color: #FFF;
}

.button:active{
    transition: background-color 0s;
    background-color: #999;
    color: #FFF;
}

/* End button styles */

/* Heading Styles */

/* End heading styles */



/* Aside Styles */
/* Improve the implementation of this to make it always-safe and dependant on article size at some point */
/*Will probably end up using some of the stuff like CSS grid for that */
aside{
    box-sizing: content-box;
    background-color: #101010;
    /* max-width: 60%; */
    /* max-height: 13vh; */
    border: 1px solid #CCC;
    border-radius: 3px;
    /* float: right; */
    padding: 0.5vw;
    overflow: auto;
    font-style: italic;
    /* width: min(fit-content,20%);
    height: min(fit-content,20%); */
    margin: 1vw auto; /*Unique to this particular iteration of the spreadsheet, to make the aside code-example box fit with the articles*/



}

/* End Aside Styles */

/* Footer Styles */

footer{
    border-top: 1px solid #DDD;
    padding: 25px;
    background-color: #030303;
    margin:0 auto;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: left;
    justify-items: left;
    align-items: center;
    gap: 10px;
}

footer h2, footer h3, footer h4, footer h5, footer h6{
    text-align: left;
    margin: 14px auto 0 auto;
}
 /*If you want to have things side-by-side in the footer, put them in divs. If you don't, either don't put them in divs -- or give them a class and assign that div to a class whose display property overrides this.*/
/* footer div{
    display: inline-block;
} */

footer p{
    text-align: center;
    margin: 7px auto;
    font-size: smaller;
}

footer ul{
    list-style: none;

}

/* End footer styles */

/* Custom classes that might come in handy */

.medium-width{
    width: 50% /*Add more to this. Maybe make it vw-based.*/
}

.align-left{
    margin: 10px;
    text-align:left;
    grid-column: 1 / span 2;
    justify-self: left;
}

.align-center{
    text-align: center;
}


#insultElem{
    text-align: center;
}

/* Media queries */
/* Breakpoints at: on a phone, and when the title clips into its bottom/the sidebars become obnoxious and need to go away. On both of those I think I'll have smaller header font, and remove the sidebars in favor of everything just being <main> */

@media only screen and (max-width: 1000px){
    main{
        width: 100%;
    }
    header h1{
        font-size: 1.5em;
        /* margin: 1vw auto; */
        /* align-self: center; */
    }
    /* actually looks ugly, keep default font-size as it is, people can just have less on their screen b ut at least they won't have to get eyestrain. 
    body{
        font-size: 14px;
    } */
}

@media only screen and (max-height: 1100px){
    header{
       padding-top: 20px;
    }
    header h1{
        font-size: 1.5em;
        /* margin: 1vw auto; */
        /* align-self: center; */
    }
}

@media only screen and (max-width: 450px){
    header h1{
        font-size: 1em;
    }
    nav{
        font-size: 0.75em;
    }
}

/* @media only screen and (max-width: 700px) and (orientation: landscape){
    header {
        /* font-size: 1.25em; */
        /* padding-bottom: 30px; */
        /* height: 8vw; */
    
    /* header h1{
        margin-bottom: 30px;
    } */



/* Add another breakpoint for  < 400 px (phones) which fixes the header and whatever's going on with the page only taking up part of the screen.*/
/* Also make all heading font sizes responsive with em | THEY'RE ALREADY IN EM THERE's NO NEED FOR THAT*/


/* Unique to this iteration: */
#Humanity-Endures-Article{
    background-image: url('../images/milky-way-darkened.png');
    background-size: cover;
    background-position:center
}

#Coding-Projects-Article{
    background-image: url('../images/hackertyper.png');
    background-size: cover;
    background-position:center
}

.tinted-background{
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: multiply;
}

img{
    width:250px;
    margin: 0 auto;
}

.super-size{
    font-size: 5em;
}

.slightly-less-super-size{
    font-size: 4em;
}

.moderate-size{
    font-size: 1.5em;
}

.stretch{
    justify-self: stretch;
}

.more-margin-top{
    margin-top: 10px;
}

li{
    margin-top: 10px;
}

.align-self-start{
    align-self: start;
}

.light{
    font-weight: 400;
}

.shaded {
    color: #777; /*Makes the text in an element have the same color as an h6*/
}

/* Be sure to add main h1 to the list of things that get automatically all-c'd*/

.header-subtitle{
    text-align: center;
    font-size: 0.75em;
    padding-top: 5px;
    font-style: italic;
    color: #999;
}