*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(black,grey); */
    background-color: black;
    color: white;
}

header{
    background-color: whitesmoke;
    color: rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    min-width: 8%;
    padding:5px;
    border-bottom: 2px solid grey;
}

.header-hr-divider{
    width: 100px;
    margin:10px auto;
}

nav li{
    display: inline;
}

nav li a{
    text-decoration: none;
    color: grey;
}

nav li a::before{
    content: "| ";
}

main>a{
    display: block;
    text-decoration: none;
    color: white
}

main{
    width: 60%;
    min-width: 300px;
    max-width: 1100px;
    margin: 40px auto;
    /* margin: 10px 30px; */
    text-align: center;
    padding: 5px;
    display: inline-block;
}

/* main header{
    display: inline-block;
} */

blockquote{
    font-style: italic;
}

h4{
    margin: 30px;
    font-size: 20pt;
}



article{

    background-color: rgba(0,0,0,0.5);
    min-height: 250px;
    border:2px solid white;
}

article p {
    margin: 15px;
}

.article-title-and-sub{
    margin: 30px;
}

.article-title-and-sub h4{
    margin:5px;
}

.article-title-and-sub p {
    font-size: 9pt;
    font-style: italic;
}

.small-hr-divider{
    width: 50px;
    margin:30px auto;
}

.med-hr-divider{
    width: 100px;
    margin:40px auto;
}

#galaxy-image-container{
    background-image: url("../images/artistsimpressionbuldgemilkyway.jpg");
    min-width: 100px;
    margin:20px 0;
    /*width: 370px; */

}

.h-e-article{
    background-color: rgba(0,0,0,0.5);
}

.humanity-endures{
    font-family: 'Times New Roman', Times, serif;
}

#code-image-container{
    background-image: url("../images/hackertyper.png");
}

#github-article{
    background-color: rgba(0,0,0,0.8);
}

.github{
    font-family: monospace;
}

.end-link{ /*Just add some extra padding to the top*/
    font-style: italic;
    font-weight: 400;
    margin: 20px;
}

.addendum {
    font-size: 8pt;
    font-style: italic;
}

aside{
    margin: 30px;
    position: fixed;
    top: 200px;
    display: inline-block;
    width: 15%;
    max-width: 400px;
     /* min-width: 100px;  */
    min-height:400px;
}

#thoughts{
    font-style: italic;
    margin:5px 0;
    word-wrap: break-word;
}

#insultElem{
    height:100px;
    width:100%
    overflow:visible;

}

#references-title{
    font-size: 15pt;
    margin:10px;

}

footer hr{
    margin:20px;

}

#insultButton{
    background-color: grey;
    margin:10px 0;
    padding:10px;
    color: white;

}
/* 
a{
    color:lightblue;
} */
/* 
:visited {
    color: lightblue;
}  */

#distinguished-individual-portrait{
    width:150px;
    border:1px solid grey;

}

#distinguished-individual-article h5{
    margin:10px 0;
}

footer a:visited{
    color:lightblue;
}
